<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	 <!--CONECTAR LA BASE DE DATOS-->
	<connectionStrings>
		<add name="conectar" connectionString="SERVER=DESKTOP-SHND5QE;Integrated Security=yes; Database=FARMCONTROL"/>
	</connectionStrings> 

</configuration>